body{
  background-color: black;
  font-family: monospace;
  font-size: 145%;
}


table{
  margin-left:2%;
  padding: 5px;
  float: left;
  box-shadow: 5px 5px 5px #990033;
}

thead {
  color: white;
  background-color: #990033;
}
table td{
  text-shadow: 2px 2px, #FF99FF;
  background-color: white;
}
h1{
  letter-spacing: 7px;
  margin-top: 0;
  background-color: #FFF500;
  border-radius: 50px;
  text-align: center;
  text-shadow: 5px 5px pink;
  color: red;
  font-family: "monospace",monospace;
}
